.App {
  grid-template-rows: auto 1fr;
  height: 100vh;
}

main {
  text-align: center;
  grid-template-rows: 1fr auto auto;
}

@media screen and (prefers-color-scheme: dark) {
  body {
    background-color: #111;
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.row[data-invalid="true"] {
  animation-name: shake;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
